<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <%-include ('nav') -%>
    <div class="container">
        <div class="row justify-content-center">
            
          <!-- <center>
            <form action="filter-data5" method="post">
              find user by email <input type="text" name="email"> or  <input type="text" name="name">
              <button type="submit"> show </button>

            </form>
          </center> -->
            <div class="col-md-0 mt-0">
                <h2 class="fw-bold">Admin Details</h2>
                <table class="table">
                  
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">image</th>
                        <th scope="col">Name</th>
                      
                        <th scope="col">email</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i<users.length; i++) {%>
                      <tr>
                        <td scope="row"><%= (i+1) %></td>
                        <td><img src="adminimage/<%= users[i].image %>" alt="<%= users[i].image %>" width="50px" height="50px">  </td>
                        
                        <td><%=users[i].name %></td>
                       
                        <td><%=users[i].email %></td>
                        <td><%=users[i].password %></td>
                        <td>
                          <div class="d-flex">
                            <form action="/delete-admin" method="post">
                              <input type="hidden" name="email" value="<%=users[i].email %>">
                              <button class="btn text-danger m-0 px-2 py-0" type="submit">
                               delete
                             </button>
                            </form>
                            <form action="/edit-admin" method="post">
                              <input type="hidden" name="email" value="<%=users[i].email %>">
                              <button class="btn text-primary m-0 px-2 py-0" type="submit">
                               update
                             </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
</body>
</html>