<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <%-include ('nav') -%>
    <div class="container">
        <div class="row justify-content-center">
            
          <!-- <center>
            <form action="filter-data5" method="post">
              find user by email <input type="text" name="email"> or  <input type="text" name="name">
              <button type="submit"> show </button>

            </form>
          </center> -->
            <div class="col-md-0 mt-0">
                <h2 class="fw-bold">Admin Details</h2>
                <table class="table">
                  
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col"> Product Name</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">original price</th>
                        <th scope="col">discount percent</th>
                        <th scope="col">product description</th>
                        <th scope="col">company description</th>
                        <th scope="col">company address</th>
                        <th scope="col">contact seller</th>
                        <th scope="col">product type</th>
                        <th scope="col">product sku</th>
                        <th scope="col">product mfg</th>
                        <th scope="col">product stock</th>
                        <th scope="col">tag</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i<users.length; i++) {%>
                      <tr>
                        <td scope="row"><%= (i+1) %></td>
                        <td><img src="productimage/<%=users[i].image %>" alt=" <%=users[i].image %>" width="50px" height="50px"></td>
                        <td><%=users[i]. productname %></td>
                        <td><%=users[i].sellingp %></td>
                        <td><%=users[i].originalp %></td>
                        <td><%=users[i].discountpercentage %></td>
                        <td><%=users[i]. description %></td>
                        <td><%=users[i]. companydescription %></td>
                        <td><%=users[i]. companyaddress %></td>
                        <td><%=users[i].contactseller %></td>
                        <td><%=users[i]. producttype%></td>
                        <td><%=users[i].productsku %></td>
                        <td><%=users[i]. productmfg %></td>
                        <td><%=users[i]. productstock %></td>
                        <td><%=users[i].tag %></td>
                        <td>
                          <div class="d-flex">
                            <form action="/delete-product" method="post">
                              <input type="hidden" name="productnumber" value="<%=users[i].productsku %>">
                              <button class="btn text-danger m-0 px-2 py-0" type="submit">
                               delete
                             </button>
                            </form>
                            <form action="/edit-product" method="post">
                              <input type="hidden" name="productnumber" value="<%=users[i].productsku%>">
                              <button class="btn text-primary m-0 px-2 py-0" type="submit">
                               update
                             </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
</body>
</html>